.main-shop{
  .shopping-cart-list{
    display: flex;
    gap: 86px;
    justify-content: space-between;
    align-items: flex-start;
    .res-shopping-shop-page{
      display: none;
    }
    table{
      width: 782px;
      border-collapse: separate;
      .shopping-cart-header{
        border-bottom:0.3px solid rgba(70, 163, 88, 0.5);
        th{
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          color: #3D3D3D;
          padding-bottom: 11px;
        }
      }
      .shopping-cart{
        background: #FBFBFB;
        height: 70px;
        margin-bottom: 10px;
        position: relative;
        border: 1px solid red;
        .img-title{
          display: flex;
          align-items: center;
          gap: 14px;
          img{
            width: 70px;
            height: 70px;
            object-fit: contain;
          }
          .title-id{
            h3{
              font-family: 'Cera Pro';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              color: #3D3D3D;
              margin: 0;
            }
            p{
              font-family: 'Cera Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #A5A5A5;
              margin: 0;
            }
          }
        }
        .item-price{
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          color: #727272;
        }
        #cart-quantity{
          h1{
            font-size: 16px;
            display: inline-block;
            padding-left: 16px;
            padding-right: 16px;
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 10px;
            color: #3D3D3D;
          }
          span{
            background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.8) 100%);
            border-radius: 29px;
            height: 25px;
            color: #FFFFFF;
            padding: 7px 5px 7px 5px;
          }
        }
        #total{
          p{
            display: inline-block;
            padding-right: 54.2px;
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            // align-items: center;
            color: #46A358;
          }
          .fa-trash{
            background: #727272;
          }
        }
      }
    }
    .shopping-price{
      width: calc(100% - 782px - 86px);
      h3{
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #3D3D3D;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
        padding-bottom: 11px;
      }
      .coupon-code{
        .coupon-code-title{
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #3D3D3D;
        }
        .coupon-code-input{
          display: flex;
          border: 1px solid #46A358;
          border-radius: 3px;
          height: 40px;
          width: 100%;
          input{
            border: none;
            outline: none;
            padding-left: 9px;
            padding-top: 13px;
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #A5A5A5;
            padding-bottom: 12px;
          }
          #coupon-code{
            width: 100%;
          }
          #coupon-code-submit{
            background: #46A358;
            padding: 12px 25px 12px 35px;
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 16px;
            color: #FFFFFF;
          }
        }   
      }
      .shopping-price-calculate{
        #total-price{
          display: flex;
          justify-content: space-between;
          align-items: center !important;
          h2{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            text-align: right;
            color: #3D3D3D;
          }
          p{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
          }
          h4{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
          }
        }
        #total-price:first-child {
          padding-top: 30px;
        }
        #calc-price{
          display: flex;
          padding-top: 26px;
          padding-bottom: 29px;
          justify-content: space-between;
          align-items: center;
          p{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #3D3D3D;
          }
          h2{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            text-align: right;
            color: #46A358;
          }
        }
        .checkout{
          background: #46A358;
          border-radius: 3px;
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 16px;
          color: #FFFFFF;
          width: 100%;
          height: 40px;
          border:1px solid #46A358;
          transition: all 0.4s linear ;
          display: block;
          text-decoration: none;
          text-align: center;
          align-items: center;
          padding: 12px;
        }
        .checkout:hover{
          background: transparent;
          color: #46A358;
        }
        .continue-shopping{
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 16px;
          color: #46A358;
          text-align: center;
          padding-top: 14px;
        }
      }
    }
    .res_shopping-price{
      display: none;
    }
  }
  .carousel-info{
    padding-top: 85px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #46A358;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 12px;
  }
  .main-shop-carousel{
    margin-top: 44px;
    margin-bottom: 130px;
    gap: 26px;
    .carousel-card{
      width: 220px;
      img{
        width: 220px;
        height: 250px;
        background: #FBFBFB;
        object-fit: contain;
      }
      h2{
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        color: #3D3D3D;
        padding-top: 12px;
        padding-bottom: 5px;
      }
      p{
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #46A358;
      }
    }
  }
}
.nothingFound{
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}
.slick-dots li button:before{
  color: #46A358;
}
.slick-dots li.slick-active button:before{
  color: #46A358;
}

@media(min-width: 1500px) and (max-width: 1530px) {
  .main-shop{
    .shopping-cart-list{
      gap: 50px;
      .shopping-price{
        width: calc(100% - 782px - 50px);
      }
    }
    .main-shop-carousel{
      gap: 20px;
      .carousel-card{
        width: 210px;
        img{
          width: 210px;
          object-fit: contain;
        }
      }
    }
  }
}
@media(min-width: 1280px) and (max-width: 1330px) {
  .main-shop{
    .shopping-cart-list{
      gap: 50px;
      .shopping-price{
        width: calc(100% - 782px - 40px);
      }
    }
    .main-shop-carousel{
      gap: 20px;
      .carousel-card{
        width: 210px;
        img{
          width: 210px;
          object-fit: contain;
        }
      }
    }
  }
}
@media(min-width: 1250px) and (max-width: 1279px) {
  .main-shop{
    .shopping-cart-list{
      gap: 15px;
      .shopping-price{
        width: calc(100% - 782px - 15px);
      }
    }
    .main-shop-carousel{
      gap: 20px;
      .carousel-card{
        width: 205px;
        img{
          width: 205px;
          object-fit: contain;
        }
      }
    }
  }
}
@media(min-width: 1200px) and (max-width: 1249px) {
  .main-shop{
    .shopping-cart-list{
      gap: 15px;
      table{
        width: 750px;
      }
      .shopping-price{
        width: calc(100% - 720px - 15px) !important;
      }
    }
    .main-shop-carousel{
      gap: 10px;
      .carousel-card{
        width: 200px;
        img{
          width: 190px;
          object-fit: contain;
        }
      }
    }
  }
}
@media(max-width: 1199px) {
  .main-shop{
    .shopping-cart-list{
      gap: 10px;
      table{
        width: 680px;
      }
      .shopping-price{
        width: calc(100% - 680px - 10px) !important;
      }
    }
    .main-shop-carousel{
      gap: 10px;
      .carousel-card{
        width: 190px;
        img{
          width: 180px;
          object-fit: contain;
        }
      }
    }
  }
}
@media(max-width: 1199px) {
  .main-shop{
    .shopping-cart-list{
      gap: 10px;
      table{
        width: 680px;
      }
      .shopping-price{
        width: calc(100% - 680px - 10px) !important;
      }
    }
    .main-shop-carousel{
      gap: 10px;
      .carousel-card{
        width: 190px;
        img{
          width: 180px;
          object-fit: contain;
        }
      }
    }
  }
}
@media(max-width: 1099px) {
  .main-shop{
    .shopping-cart-list{
      gap: 10px;
      table{
        width: 640px;
      }
      .shopping-price{
        width: calc(100% - 640px - 10px) !important;
      }
    }
    .main-shop-carousel{
      gap: 10px;
      .carousel-card{
        width: 170px;
        img{
          width: 170px;
          object-fit: contain;
          height: 200px;
        }
      }
    }
  }
}
@media(max-width: 1000px) {
  .main-shop{
    .shopping-cart-list{
      gap: 10px;
      table{
        width: 580px;
      }
      .shopping-price{
        width: calc(100% - 580px - 10px) !important;
      }
    }
    .main-shop-carousel{
      gap: 20px;
      .carousel-card{
        width: 195px;
        img{
          width: 195px;
          object-fit: contain;
          height: 230px;
        }
      }
    }
  }
}
@media(max-width: 950px){
  .main-shop{
    .shopping-cart-list{
      table{
        width: 530px;
      }
      .shopping-price{
        width: calc(100% - 530px - 10px) !important;
      }
    }
  }
}
@media(max-width: 900px) {
  .main-shop{
    .shopping-cart-list{
      gap: 10px;
      display: block;
      table{
        width: 100%;
      }
      .shopping-price{
        padding-top: 50px;
        width: 300px !important;
        // margin: auto;
      }
    }
    .main-shop-carousel{
      gap: 20px;
      .carousel-card{
        // width: 1px;
        img{
          width: 180px;
          object-fit: contain;
          height: 210px;
        }
      }
    }
  }
}
@media(max-width: 800px) {
  .main-shop{
    .main-shop-carousel{
      gap: 20px;
      .carousel-card{
        img{
          width: 220px;
          object-fit: contain;
          height: 230px;
        }
      }
    }
  }
}
@media(max-width: 750px) {
  .main-shop{
    .main-shop-carousel{
      gap: 20px;
      .carousel-card{
        img{
          width: 205px;
          object-fit: contain;
          height: 225px;
        }
      }
    }
  }
}
@media(max-width: 700px) {
  .main-shop{
    .main-shop-carousel{
      gap: 10px;
      .carousel-card{
        img{
          width: 193px;
          object-fit: contain;
          height: 225px;
        }
      }
    }
  }
}
@media(max-width: 650px) {
  .main-shop{
    .main-shop-carousel{
      gap: 10px !important;
      .carousel-card{
        width: auto;
        img{
          width: 180px;
          object-fit: contain;
          height: 210px;
        }
      }
    }
  }
  *[id]:nth-child(even){
    margin-top: 0;
  }
}
@media(max-width: 600px) {
  .main-shop{
    .main-shop-carousel{
      gap: 10px !important;
      .carousel-card{
        width: 170px;
        img{
          width: 165px;
          object-fit: contain;
          height: 200px;
        }
      }
    }
  }
}
@media(max-width: 550px) {
  .main-shop{
    .shopping-cart{
      .img-title{
        gap: 10px !important;
        img{
          width: 60px !important;
          height: 60px !important;
        }
        .title-id{
          h3{
            font-size: 12px !important;
          }
          p{
            font-size: 10px !important;
          }
        }
      }
      #cart-quantity{
        h1{
          padding-right: 10px !important;
          padding-left: 10px !important;
        }
      }
      #total{
        padding-top: 10px;
        p{
          padding-right: 10px !important;
        }
      }
    }
    .main-shop-carousel{
      overflow-x: hidden;
      gap: 10px;
      .carousel-card{
        width: 200px;
        img{
          width: 210px;
          object-fit: contain;
          height: 220px;
        }
      }
    }
  }
}
@media(max-width: 500px) {
  .main-shop{
    table{
      display: none;
    }
    .res-shopping-shop-page{
      display: block !important;
      .res-shopping_cart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(93.11deg, #FFFFFF -0.94%, #FFFFFF 105.02%);
        box-shadow: 0px 6px 20px rgba(210, 210, 210, 0.25);
        border-radius: 14px;
        padding: 0 30px;
        .item-img-title-price{
          display: flex;
          align-items: center;
          img{
            width: 100px;
            height: 100px;
            object-fit: contain;
          }
          .item-img-title-price-info{
            h3{
              font-family: 'Cera Pro';
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 16px;
              color: #3D3D3D;
            }
            p{
              font-family: 'Cera Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #727272;
            }
            span{
              font-family: 'Cera Pro';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 16px;
              color: #46A358;
            }
          }
        }
        .shopping-cart-cartQuantity{
          display: flex;
          gap: 13px;
          // display: inline-block;
          align-items:center;
          span{
            background: #F7F7F7;
            border-radius: 29px;
            color:#A5A5A5;
            width: 24px;
            height: 24px;
            border-radius:50%;
            align-items: center;
            display: flex;
            justify-content: center;
          }
          h1{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 10px;
            color: #3D3D3D;
            margin-bottom: 0;
          }
        }
      }
    }
    .shopping-price{
      display: none;
    }
    .res_shopping-price{
      display: block !important;
      position: fixed;
      z-index: 99999999999999999999;
      background: #FFFFFF;
      box-shadow: 0px 0px 20px rgba(205, 205, 205, 0.3);
      border-radius: 40px 40px 0px 0px;
      height: 365px;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100vw;
      padding: 33px 28px 32px 28px;
      transition: all 1s linear;
      .coupon-code-input{
        background: linear-gradient(93.11deg, #FFFFFF -0.94%, #FFFFFF 105.02%);
        box-shadow: 0px 6px 20px rgba(210, 210, 210, 0.25);
        border-radius: 40px;
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 25px;
        input{
          height: 100%;
          border: none;
          outline: none;
          
        }
        #coupon-code{
          border-radius: 40px 0 0 40px;
          padding-left: 18px;
          ::placeholder{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #A5A5A5;
            display: none;
            
          }
        }
        #coupon-code-submit{
          background: linear-gradient(93.11deg, rgba(70, 163, 88, 0.54) -0.94%, #46A358 105.02%);
          border-radius: 40px;
          padding: 17px 27px 17px 27px;
          position: absolute;
          right: 0;
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 16px;
          color: #FFFFFF;
        }
      }
      .res_shopping-price-calculate{
        #total-price{
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
          }
          h2{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            text-align: right;
            color: #3D3D3D;
          }
          h4{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
          }
        }
        #calc-price{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 35px;
          h2{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            text-align: right;
            color: #46A358;
          }
          p{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #3D3D3D;
          }
        }
        .checkout{
          background: linear-gradient(93.21deg, #46A358 -3.96%, rgba(70, 163, 88, 0.8) 121.97%);
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          text-align: center;
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #FFFFFF;
          text-decoration: none;
          height: 60px;
          transition: all 1s linear !important;
        }
        .checkout:hover{
          background: transparent;
          color: #46A358;
          border: 1px solid #46A358;
        }
      }
    }
    .show_price{
      transform: translateY(0);
    }
    .exit_price{
      transform: translateY(120vw);
    }
    .carousel-info{
      padding-top: 30px;
    }
    .shopping-cart-list{
      .shopping-price{
        margin: auto;
      }
    }
    .shopping-cart{
      .img-title{
        gap: 10px !important;
        img{
          width: 70px !important;
          height: 70px !important;
        }
        .title-id{
          display: none;
          h3{
            font-size: 12px !important;
          }
          p{
            font-size: 10px !important;
          }
        }
      }
      #cart-quantity{
        h1{
          padding-right: 10px !important;
          padding-left: 10px !important;
        }
      }
      #total{
        padding-top: 10px;
        p{
          padding-right: 10px !important;
        }
      }
    }
    .main-shop-carousel{
      overflow: hidden;
      gap: 10px;
      margin-bottom: 30px !important;
      .carousel-card{
        width: 180px;
        img{
          width: 175px;
          object-fit: contain;
          height: 200px;
        }
      }
    }
  }
}
@media(max-width: 400px) {
  .main-shop{
    .carousel-info{
      padding-top: 30px;
    }
    .shopping-cart-list{
      .shopping-price{
        margin: auto;
        width: 250px !important;
      }
    }
    .shopping-cart{
      .img-title{
        gap: 10px !important;
        img{
          width: 70px !important;
          height: 70px !important;
        }
        .title-id{
          display: none;
          h3{
            font-size: 12px !important;
          }
          p{
            font-size: 10px !important;
          }
        }
      }
      #cart-quantity{
        h1{
          padding-right: 10px !important;
          padding-left: 10px !important;
        }
      }
      #total{
        padding-top: 10px;
        p{
          padding-right: 10px !important;
        }
      }
    }
    .main-shop-carousel{
      overflow: hidden;
      gap: 10px;
      margin-bottom: 30px !important;
      .carousel-card{
        width: 140px;
        img{
          width: 150px;
          object-fit: contain;
          height: 170px;
        }
        h2{
          font-size: 13px;
          padding-bottom: 0;
        }
      }
    }
    .res-shopping-shop-page{
      .res-shopping_cart{
        padding: 0 20px;
        .item-img-title-price{
          img{
            width: 90px;
            height: 90px;
            object-fit: contain;
          }
          .item-img-title-price-info{
            h3{
              font-size: 13px;
              line-height: 10px;
            }
            p{
              font-size: 12px;
            }
            span{
              font-size: 18px;
            }
          }
        }
        .shopping-cart-cartQuantity{
          display: flex;
          align-items:  center;
          span{
            background: #F7F7F7;
            border-radius: 29px;
            color:#A5A5A5;
            width: 24px;
            height: 24px;
            border-radius:50%;
            align-items: center;
            display: flex;
            justify-content: center;
          }
          h1{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 10px;
            color: #3D3D3D;
            margin: 0;
          }
        }
      }
    }
    .res_shopping-price{
      display: block !important;
      position: fixed;
      z-index: 99999999999999999999;
      background: #FFFFFF;
      box-shadow: 0px 0px 20px rgba(205, 205, 205, 0.3);
      border-radius: 40px 40px 0px 0px;
      height: 365px;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100vw;
      padding: 33px 28px 32px 28px;
      transition: all 1s linear;
      .coupon-code-input{
        background: linear-gradient(93.11deg, #FFFFFF -0.94%, #FFFFFF 105.02%);
        box-shadow: 0px 6px 20px rgba(210, 210, 210, 0.25);
        border-radius: 40px;
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 25px;
        input{
          height: 100%;
          border: none;
          outline: none;
        }
        #coupon-code{
          border-radius: 40px 0 0 40px;
          padding-left: 18px;
          ::placeholder{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 12px !important;
            line-height: 15px;
            color: red;
          }
        }
        #coupon-code-submit{
          background: linear-gradient(93.11deg, rgba(70, 163, 88, 0.54) -0.94%, #46A358 105.02%);
          border-radius: 40px;
          padding: 17px 20px 17px 20px;
          position: absolute;
          right: 0;
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 16px;
          color: #FFFFFF;
        }
      }
      .res_shopping-price-calculate{
        #total-price{
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
          }
          h2{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            text-align: right;
            color: #3D3D3D;
          }
          h4{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
          }
        }
        #calc-price{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 35px;
          h2{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            text-align: right;
            color: #46A358;
          }
          p{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #3D3D3D;
          }
        }
        .checkout{
          background: linear-gradient(93.21deg, #46A358 -3.96%, rgba(70, 163, 88, 0.8) 121.97%);
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          text-align: center;
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #FFFFFF;
          text-decoration: none;
          height: 60px;
          transition: all 1s linear !important;
        }
        .checkout:hover{
          background: transparent;
          color: #46A358;
          border: 1px solid #46A358;
        }
      }
    }
  }
}
@media(max-width: 350px) {
  .main-shop{
    .carousel-info{
      padding-top: 30px;
    }
    .shopping-cart-list{
      .shopping-price{
        margin: auto;
        width: 250px !important;
      }
    }
    .shopping-cart{
      .img-title{
        gap: 10px !important;
        img{
          width: 70px !important;
          height: 70px !important;
        }
        .title-id{
          display: none;
          h3{
            font-size: 12px !important;
          }
          p{
            font-size: 10px !important;
          }
        }
      }
      #cart-quantity{
        h1{
          padding-right: 10px !important;
          padding-left: 10px !important;
        }
      }
      #total{
        padding-top: 10px;
        p{
          padding-right: 10px !important;
        }
      }
    }
    .main-shop-carousel{
      overflow: hidden;
      gap: 10px;
      margin-bottom: 30px !important;
      .carousel-card{
        width: 140px;
        img{
          width: 120px;
          object-fit: contain;
          height: 150px;
        }
        h2{
          font-size: 13px;
          padding-bottom: 0;
        }
      }
    }
    .res-shopping-shop-page{
      .res-shopping_cart{
        padding: 0 ;
        .item-img-title-price{
          img{
            width: 70px;
            height: 100%;
            object-fit: contain;
          }
          .item-img-title-price-info{
            h3{
              font-size: 13px;
              line-height: 10px;
            }
            p{
              font-size: 12px;
            }
            span{
              font-size: 18px;
              // padding-bottom: 10px;
            }
          }
        }
        .shopping-cart-cartQuantity{
          display: flex;
          align-items:  center;
          span{
            background: #F7F7F7;
            border-radius: 29px;
            color:#A5A5A5;
            width: 24px;
            height: 24px;
            border-radius:50%;
            align-items: center;
            display: flex;
            justify-content: center;
          }
          h1{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 10px;
            color: #3D3D3D;
            margin: 0;
          }
        }
      }
    }
    .res_shopping-price{
      display: block !important;
      position: fixed;
      z-index: 99999999999999999999;
      background: #FFFFFF;
      box-shadow: 0px 0px 20px rgba(205, 205, 205, 0.3);
      border-radius: 40px 40px 0px 0px;
      height: 300px;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100vw;
      padding: 20px 20px 20px 20px;
      transition: all 1s linear;
      .coupon-code-input{
        background: linear-gradient(93.11deg, #FFFFFF -0.94%, #FFFFFF 105.02%);
        box-shadow: 0px 6px 20px rgba(210, 210, 210, 0.25);
        border-radius: 40px;
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 15px;
        input{
          height: 100%;
          border: none;
          outline: none;
        }
        #coupon-code{
          border-radius: 40px 0 0 40px;
          padding-left: 18px;
          ::placeholder{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 12px !important;
            line-height: 15px;
            color: red;
          }
        }
        #coupon-code::placeholder{
          visibility: hidden;
        }
        #coupon-code-submit{
          background: linear-gradient(93.11deg, rgba(70, 163, 88, 0.54) -0.94%, #46A358 105.02%);
          border-radius: 40px;
          padding: 17px 20px 17px 20px;
          position: absolute;
          right: 0;
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 16px;
          color: #FFFFFF;
        }
      }
      .res_shopping-price-calculate{
        #total-price{
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
          }
          h2{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            text-align: right;
            color: #3D3D3D;
          }
          h4{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
          }
        }
        #calc-price{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 15px;
          h2{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            text-align: right;
            color: #46A358;
          }
          p{
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #3D3D3D;
          }
        }
        .checkout{
          background: linear-gradient(93.21deg, #46A358 -3.96%, rgba(70, 163, 88, 0.8) 121.97%);
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          text-align: center;
          font-family: 'Cera Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #FFFFFF;
          text-decoration: none;
          height: 50px;
          transition: all 1s linear !important;
        }
        .checkout:hover{
          background: transparent;
          color: #46A358;
          border: 1px solid #46A358;
        }
      }
    }
  }
}

